######################################## Unique to hol 
/public/assets
/db/sphinx/
/solr/

######### all copied from https://github.com/github/gitignore

######################################## ruby
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
config/database.yml
rerun.txt

######################################## emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp

######################################## mac os x
.DS_Store?
Icon?

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

webrat.log
/public/uploads

######################################## other
/bin/reload-hol-data
/doc/schema/tables

